:root{
    --tw-translate-x:0;
    --tw-translate-y:0;
    --tw-rotate:0;
    --tw-skew-x:0;
    --tw-skew-y:0;
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    --tw-gradient-stops:#2563eb , #4338ca;
}
ol, ul, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
body{
    padding-top:68.89px;
    overflow-x: hidden;
}
body *{
    color:rgba(30,41,59,1);
}
a{
    text-decoration: none;
}
section{
    width:calc(100% - 2rem);
    max-width:1280px;
    margin:0 auto;
}
header{
    position: fixed;
    z-index: 900;
    left:0;
    top:0;
    width:100%;
    padding:1rem;
    background: #fff;
    box-shadow: 0 1px 2px rgb(229 231 235);
    border-bottom: 1px rgb(229 231 235) solid;
}
header .logo{
    font-weight: 700;
    font-size: 1.5rem;
}
nav a{
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding:.5rem 1rem;
    cursor: pointer;
    border-radius: .375rem;
    margin-left:4px;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}
nav a:hover{
    color:rgb(37 99 235);
    background:  #f8fafc;
}
nav a:nth-last-child(2){
    color:rgb(37 99 235);
    font-weight: 600;
    background: rgb(239 246 255);
}
nav a:nth-last-child(2):hover{
    background: rgb(219 234 254);
}
footer{
    background: rgb(17 24 39);
}
footer *{
    color:#fff;
}
footer section > .row{
    padding:1rem 2rem;
}
footer section > .row h3{
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;
}
footer section > .row .col-12:nth-child(1) h3 {
    font-size: 1.5rem;
    font-weight: 700;
}
footer section ul{
    margin:0;
    padding:0;
}
footer section ul li{
    list-style: none;
    margin-bottom: 0.5rem;
}
footer section ul li a{
    cursor: pointer;
}
footer section ul li a:hover{
    color:#fff;
}
.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}
.text-purple-600 {
    --tw-text-opacity: 1;
    color: rgb(147 51 234 / var(--tw-text-opacity, 1));
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}
.text-gray-300{
    color:rgb(209 213 219);
}
.text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}
.text-gray-400{
    color:rgb(156, 163, 175);
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}
.text-green-600, .text-green-600 * {
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity, 1));
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-sm{
    font-size: .875rem;
    line-height: 1.25rem;
}
.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}
.md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.leading-relaxed{
    line-height: 1.625;
}
.border-gray-800{
    border-color:rgb(31, 41, 55) !important;
    border-style: solid;
}
.border-slate-600 {
    --tw-border-opacity: 1;
    border-color: rgb(71 85 105 / var(--tw-border-opacity, 1));
    border-style: solid;
}
.text-blue-700 {
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity, 1));
}
.text-5xl {
    font-size: 3rem;
    line-height: 1;
}
.transition-all{
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}
.duration-500 {
    transition-duration: .5s;
}
.duration-300{
    transition-duration: .3s;
}
.whitespace-nowrap{
    white-space: nowrap;
}
.cursor-pointer{
    cursor: pointer;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
}
.bg-blue-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}
.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity, 1));
}
.bg-purple-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 232 255 / var(--tw-bg-opacity, 1));
}
.bg-purple-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(250 245 255 / var(--tw-bg-opacity, 1));
}
.bg-green-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(240 253 244 / var(--tw-bg-opacity, 1));
}
.bg-green-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 252 231 / var(--tw-bg-opacity, 1));
}
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.order-2 {
    order: 2;
}
.lg\:order-1 {
    order: 1;
}
.text-green-600 {
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity, 1));
}
.text-orange-600, .text-orange-600 *{
    --tw-text-opacity: 1;
    color: rgb(234 88 12 / var(--tw-text-opacity, 1));
}
.bg-orange-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 237 213 / var(--tw-bg-opacity, 1));
}
.bg-orange-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 247 237 / var(--tw-bg-opacity, 1));
}
.bg-\[\#D4AF37\] {
    --tw-bg-opacity: 1;
    background-color: rgb(212 175 55 / var(--tw-bg-opacity, 1));
}
.bg-\[\#D4AF37\]\/10 {
    background-color: #d4af371a;
}
.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}
.border-\[\#D4AF37\] {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    border-color: rgb(212 175 55 / var(--tw-border-opacity, 1));
    border-style: solid;
}
.border-\[\#D4AF37\]:hover{
    background: rgba(212,175,55) !important;
    color:#fff;
}
.border-slate-600 {
    --tw-border-opacity: 1;
    border-color: rgb(71 85 105 / var(--tw-border-opacity, 1));
}
.border-t-2 {
    border-width: 0 0 0 0;
    border-top-width: 2px;
    border-style: solid;
}
.bg-slate-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
}
.bg-slate-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1));
}
.aspect-\[4\/3\] {
    aspect-ratio: 4 / 3;
}
.relative {
    position: relative;
}
.btn3:hover {
    background-color: rgba(255,255,255,.1);
}
body#about .btn3:hover {
    background-color: rgba(255,255,255, .4) !important;
}
.rounded-xl {
    border-radius: .75rem;
}
.rounded-2xl {
    border-radius: 1rem;
    overflow: hidden;
}
.rounded-full {
    border-radius: 9999px;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.items-start {
    align-items: flex-start;
}
.flex {
    display: flex;
}
.gap-6 {
    gap: 1.5rem;
}
.gap-8 {
    gap: 2rem;
}
.gap-12 {
    gap: 3rem;
}
.row.gap-4 .col-md-6, .row.gap-4 .col-6{
    width:calc(50% - 1.5rem);
    padding: 0;
}
.row.gap-4.fixcol-width .col-md-6, .row.gap-4.fixcol-width .col-6{
    width:calc(50% - 1rem);
}
.row.gap-8 .col-md-4{
    width:calc(33% - 2rem);
}
.row.gap-12 .col-md-6, .row.gap-12 .col-6{
    width:calc(50% - 3rem);
    padding: 0;
}
.object-center {
    -o-object-position: center;
    object-position: center;
}
.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}
.opacity-5 {
    opacity: .05;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.h-64 {
    height: 16rem;
}
.w-24 {
    width: 6rem;
}
.w-2 {
    width: .5rem;
}
.h-2 {
    height: .5rem;
}
.h-48 {
    height: 12rem;
}
img, video {
    max-width: 100%;
    height: auto;
}
.object-contain {
    -o-object-fit: contain;
    object-fit: contain;
}
.shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.transition-shadow {
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}
.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-lg1{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
}
.shadow-lg1:hover{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
}
.from-slate-900\/40 {
    --tw-gradient-from: rgb(15 23 42 / .4) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(15 23 42 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.bg-gradient-to-t {
    background-image: linear-gradient(to top, var(--tw-gradient-stops));
}
.inset-0 {
    inset: 0;
}
.inline-block {
    display: inline-block;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.-top-4 {
    top: -1rem;
}
.-right-4 {
    right: -1rem;
}
.btn1{
    background: rgba(212, 175, 55);
    border-color:rgba(212, 175, 55);
    color:#fff;
}
.btn1:hover{
    background: rgba(212, 175, 55, 0.7);
    color:#fff;
}
#banner{
    background: no-repeat center;
    background-size: cover;
    position: relative;
    padding:3rem 0;
}
#banner:after{
    content: '';
    display: block;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
body#index #banner:after{
    background: rgba(0,0,0,0.6);
}
#banner .infobox{
    width:90%;
    max-width: 1216px;
    margin:0 auto;
    position: relative;
    z-index: 3;
}
body#index #banner .infobox{
    margin:15rem auto;
}
body#solutions #banner .infobox{
    margin:8rem auto;
}
body#about #banner .infobox{
    margin:15rem auto;
}
#banner .infobox h1{
    font-size: 3rem;
    font-weight: 700;
}
#banner .infobox .txt{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 300;
    margin:0 auto;
}
body#solutions #banner .infobox h1{
    font-size: 3.75rem;
}
body#solutions #banner .infobox .txt{
    max-width: 896px;
}
body#technology #banner .infobox .txt{
    max-width: 768px;
}
body#about #banner .infobox h1{
    font-size: 4.5rem;
}
#banner .infobox .btns{
    text-align: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top:3rem;
}
#banner .infobox .btns a, .btn3{
    padding:.75rem 2rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
    color:#fff;
    border:2px #fff solid;
    border-radius: .5rem;
    font-weight: 600;
}
#banner .infobox .btns a:hover, .btn3:hover{
    background: rgba(255,255,255);
    color:#000;
}
#banner .infobox .btns a.btn1{
    border-color:rgba(212, 175, 55);
}
#banner .infobox .btns a.btn1:hover{
    background: rgba(212, 175, 55, 0.9);
    color:#fff;
}
#contact_box{
    background: #151e31;
    background-image: linear-gradient(rgba(32, 41, 58) 1px, transparent 1px), linear-gradient(90deg, rgba(32, 41, 58) 1px, transparent 1px);
    background-size: 60px 60px;
    padding: 5rem 0;
}
#contact_box h2{
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
#contact_box .title_btn{
    color:rgb(147 197 253);
    background: rgba(59, 130, 246, 0.2);
}
.title_btn{
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .375rem 1rem;
    display: inline-flex;
    border:1px rgba(96, 165, 250, 0.3) solid;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
}
.to-slate-900 {
    --tw-gradient-to: #0f172a var(--tw-gradient-to-position);
}

.via-slate-800 {
    --tw-gradient-to: rgb(30 41 59 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #1e293b var(--tw-gradient-via-position), var(--tw-gradient-to);
}
.from-slate-900 {
    --tw-gradient-from: #0f172a var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(15 23 42 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.md\:text-7xl {
    font-size: 4.5rem;
    line-height: 1;
}
.md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
}
.text-slate-300 {
    --tw-text-opacity: 1;
    color: rgb(203 213 225 / var(--tw-text-opacity, 1));
}
.text-\[\#D4AF37\] {
    --tw-text-opacity: 1;
    color: rgb(212 175 55 / var(--tw-text-opacity, 1));
}
.tracking-wider {
    letter-spacing: .05em;
}
.to-transparent {
    background-image: linear-gradient(to top, rgb(15 23 42 / 40%), rgb(15 23 42 / 0%));
}
.mt-16 {
    margin-top: 4rem;
}
.grid {
    display: grid;
}
.md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.group:hover .group-hover\:scale-105 {
    --tw-translate-x:0;
    --tw-translate-y:0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.group:hover{
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.group:hover .group-hover\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity, 1));
}
body#about .group:hover:not(.hover-shadow-2xl){
    box-shadow: none;
}
.group:hover .more{
    --tw-translate-x: .5rem;
    --tw-scale-x:1;
    --tw-scale-y:1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.text-blue-600, .text-blue-600 *, .hover-text-blue-600:hover, .hover-text-blue-600:hover * {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity, 1));
}
.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}
.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
[class*=" ri-"], [class^=ri-] {
    font-family: remixicon !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.bg-blue-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 246 255 / var(--tw-bg-opacity, 1));
}
.hover-bg-blue-50:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(239 246 255 / var(--tw-bg-opacity, 1));
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.p-8 {
    padding: 2rem;
}
.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.mr-2{
    margin-right: .5rem;
}
.mr-4 {
    margin-right: 1rem;
}
.w-12 {
    width: 3rem;
}
.h-12 {
    height: 3rem;
}
.h-1 {
    height: .25rem;
}
.w-10 {
    width: 2.5rem;
}
.h-10 {
    height: 2.5rem;
}
.rounded-lg {
    border-radius: .5rem;
}
.font-bold {
    font-weight: 700;
}
.font-medium {
    font-weight: 500;
}
.font-semibold {
    font-weight: 600;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.max-w-7xl {
    max-width: 80rem;
}
.max-w-4xl {
    max-width: 56rem;
}
.max-w-2xl {
    max-width: 42rem;
}
.to-gray-50 {
    --tw-gradient-to: #f9fafb var(--tw-gradient-to-position);
}
.to-indigo-700 {
    --tw-gradient-to: #4338ca var(--tw-gradient-to-position);
}
.from-blue-600 {
    --tw-gradient-from: #2563eb var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(37 99 235 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.bg-gradient-to-br {
    --tw-gradient-stops:#2563eb , #4338ca;
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}
.bg-white\/10 {
    background-color: #ffffff1a;
}
@keyframes bounce{0%,to{transform:translateY(-25%);animation-timing-function:cubic-bezier(.8,0,1,1)}50%{transform:none;animation-timing-function:cubic-bezier(0,0,.2,1)}}
.animate-bounce {
    animation: bounce 1s infinite;
}
.left-1\/2 {
    left: 50%;
}
.bottom-12 {
    bottom: 3rem;
}
#navation{
    display: none;
}
@media (max-width: 640px) {
    section{
        width:calc(100% - 1rem);
    }
    header section{
        width:100%;
    }
    nav{
        position: fixed;
        width:100%;
        display: none;
        z-index: 901;
        left:0;
        top:80px;
        background: #Fff;
        border-top:1px rgb(229 231 235) solid;
        padding: 1rem 0;
    }
    nav a{
        display: block;
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.5;
        margin: 0 1rem 0.5rem 1rem;
    }
    #navation{
        display: inline-block;
    }
    footer section > .row{
        padding:1rem 1.5rem;
    }
    #contact_box h2{
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    .row.gap-4 .col-md-6, .row.gap-4 .col-6, .row.gap-12 .col-md-6, .row.gap-12 .col-6{
        width:calc(100% - 3rem);
        margin:0 auto;
    }
    .row.gap-4.fixcol-width .col-12{
        width:100%;
        padding:0 1rem;
    }
    .row.gap-8 .col-md-4{
        width:calc(100% - 2rem);
        margin:0 1rem;
    }
    #banner .infobox h1{
        font-size: 2rem;
    }
    body#solutions #banner .infobox h1{
        font-size: 2.25rem;
    }
    body#about #banner .infobox h1{
        font-size: 3rem;
        line-height: 1.2;
    }
    .md\:text-4xl{
        font-size: 1.5rem;
    }
    .text-5xl{
        font-size: 2.25rem;
    }
    .md\:text-5xl{
        font-size: 2rem;
    }
}

